@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
    font-family: 'helvatica';
    src: url('/HelveticaNowVar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'helvatica', sans-serif;
  }
  